<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person: ${personList}">
        <td th:text="${person.name}"/>
        <td th:text="${person.surname}"/>
    </tr>
    </tbody>
</table>
<form method="post" action="/">
    <label>Add new person: </label>
    <input type="text" name="name">
    <input type="text" name="surname">
    <button type="submit">Save</button>
</form>
</body>
</html>